.movie-back-ground{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-color: transparent; 
}

 .movie-detail {
  margin: 25vh 4vw 0;
}
.movie-detail, .movie-detail>*{
background-color: transparent;
}
.movie-title {
  font-size: 3.5rem;
 }

 .movie-overview{
  margin: 1vh 0;
  width: 45vw;
 }
