.movie-detail,
.movie-content, .movie-title, .movie-description,
.movie-page-details, .movie-page-list, .movie-page-list >*, .genre {
  background-color: transparent;
}

.movie-detail {
  position: absolute;
  margin: 0 25%;
  text-align: center;
}

.movie-title {
  font-size: 2rem;
}

.movie-back-ground{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
}

.movie-page-list{
  list-style: none;
}