.card{
  margin-left: 10px;

  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}


.card-img {
  width: 100px;
  object-fit: contain;
}

.card:hover{
  transform: scale(1.1);
  cursor: pointer;
}