.movie-button {
  margin: 10px;
  background-color: red;
  color: white;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 10%;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}


.movie-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.for-movie-page{
  width: 45vw;
  margin: 3em;
  background-color: transparent;
}