.navbar{
  z-index: 2;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  top: 0px;
}

.page-links>ul{
  display: flex;
  justify-content: space-between;
}

.page-links>ul>li{
  list-style: none;
  margin-right: 1rem;
}

.navbar>a, .navbar>a:visited{
  text-decoration: none;
  color: white;
}

nav>*:hover{
  cursor: pointer;
}