.navbar{
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}
.page-links>ul{
  display: flex;
  justify-content: space-between;
}

.page-links>ul>li{
  list-style: none;
  margin-right: 1rem;
}

.navbar>a, .navbar>a:visited{
  text-decoration: none;
  color: white;
}

nav>*:hover{
  cursor: pointer;
}